<div class="container">
  <div class="row">
    <%= link_to 'Add Product', new_admin_product_path %>
    <div class="col-12 card">
      <table class="table">
      	<thead> 
      		<th> Name </th>
      		<th> Desciption </th>
      		<th> Price </th>
      	</thead>
      	<tbody>
					<%= render partial: "admin_product" %>
      	</tbody>
      </table>
    </div>
  </div>
</div>
